---
layout: default
---

<main class="main-content fadeInDown delay_075s">
  <article class="post">
    <div class="post-content">
      <div class="columns">
        <div class="column-left">
          {% if page.feature_image and page.feature_image != "" %}
          <figure class="post-thumbnail image-card width-wide">
            <img src="{{ page.feature_image | relative_url }}" alt="{{ page.title }}">
          </figure><!-- .post-thumbnail -->
          {% endif %}
        </div><!-- .column-left -->
        <div class="column-right">
          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
          </header><!-- .post-header -->
          {{ content | markdownify }}
        </div><!-- .column-right -->
      </div><!-- .columns -->
    </div><!-- .post-content -->
  </article><!-- .post -->
</main><!-- .site-main -->

<style>
  .columns {
    display: flex;
    gap: 100px; /* Add gap between columns */
    align-items: center; /* Center the content vertically */
  }
  .column-left {
    flex: 1; /* 1/3rd of the width */
    padding: 5px;
  }
  .column-right {
    flex: 2; /* 2/3rds of the width */
    padding: 5px;
  }
  .post-thumbnail img {
    max-width: 100%;
    height: auto;
  }
</style>